@import './base.css';

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-group-text *{
  font-weight: bold !important;

} 

.form-hudtype{
  border: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(242, 159, 5);
  padding: 1rem;
}

.form-group{
  margin-bottom: 1.0rem;
}

.select-dark {
  background-color: rgb(37, 37, 37) !important;
  color: white !important;
}

.form-group > label {
  margin-bottom: 0.3rem;
}

.bg-navbar, .bg-footer, .btn-color {
  background-color: rgb(233,84,32) !important;
  color: white !important;
}

.btn {
  font-weight: bold !important;
}

.bg-background {
  background-image: url("https://img.freepik.com/free-vector/gradient-dynamic-lines-background_23-2149020285.jpg");
  background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}